@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Fraunces&display=swap");

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

body {
  font: 500 14px "Montserrat", sans-serif;
  color: var(--dark-grayish-blue);
  padding-left: 1rem;
  padding-right: 1rem;

  background-color: var(--cream);
  height: 96vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main {
  margin: auto;
}

.card {
  overflow: hidden;
  border-radius: 15px;

  max-width: 340px;
}

.card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1.5rem;
}

.card-body .card-category {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 7px;
}

h1 {
  color: var(--very-dark-blue);
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
}

.card .pricing {
  display: flex;
  align-items: center;
  gap: 15px;
}

.card .price {
  color: var(--dark-cyan);
  margin-bottom: 0;
}

.card .card-btn {
  display: block;
  border: none;
  border-radius: 10px;
  outline: none;

  padding: 0.9rem;
  color: var(--white);
  background-color: var(--dark-cyan);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 768px) {
  .card {
    flex-direction: row;
    max-width: 568px;
  }

  .card-image {
    width: 150%;
  }
}
